*{
    margin: 0px;
}

header {
    background-color: #555088;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}

#animais{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
}

.animal{
    height:350px;
    width: auto;
    border: solid, white, 8px;
    border-radius: 50px;
    
}

h1{
    color: #555088;
}

#sobreNos {
    margin: 25px 25px 25px 25px;
    background-color:#d8d4e4;
    border: solid, 3.5px, #e0dce4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px 25px 25px 25px;
}

#aviso {
    color: #2e2861;
    font-size: 25px;
}

#eventos {
    margin: 25px 25px 25px 25px;
    background-color:#d8d4e4;
    border: solid, 3.5px, #e0dce4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px 25px 25px 25px;
}

#voluntarios {
    margin: 25px 25px 25px 25px;
    padding: 0px 0px 15px 0px;
    background-color: #d8d4e4;
    border: solid, 3.5px, #e0dce4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px 25px 25px 25px;
}

#voluntarios h1 {
    text-align: center;
}

#joana , #everton {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    display: flex ;
    align-items: center;
}

#joana img, #everton img {
    margin: 15px 15px 15px 15px;
    border-radius: 20px;
    border: #555088 solid 3px;
    height: auto;
    width: auto;
}

.imgEsquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.imgEsquerda img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    border: 3px solid #555088;
}

.descricao h2, .descricao h3 {
    margin: 5px 0;
    text-align: center;
    color: #555088;
}

.texto {
    flex: 1;
}


footer {
    display:flex;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    border-radius: 25px 25px 0px 0px;
    background-color: #555088;
}

footer img {
    height: 75px;
    width: 75px;
}

.pix{
    padding-top: 25px;
    text-align: center;
    color: white;

}


.abandono {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    background-color: black;
}


